
<section id="home" class="intro intro-bg bg-overlay parallax" style="height:520px;">

    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-12 caption-two-panel ml-auto pt-5 ">
            <div class="login" >
              <div class="mat-elevation-z24">
  
                <mat-card class="login-form ">
  
                    <h5 class="account-login"> Register Details </h5>
                    
                               userName: {{this.user.userName}} <br>
                           
                               phoneNumber:{{this.user.phoneNumber}}<br>
                            
                               email: {{this.user.email}}<br>
                            
                               addressLine1: {{this.user.addressLine1}}<br>
                            
                               addressLine2: {{this.user.addressLine2}}<br>
                      
                </mat-card>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  
  
  
  
  
  